nav {
  background-color: #e8e5e480;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5px;

  width: max-content;
  border-radius: 30px;
  margin: 0 auto;
  position: fixed;
  top: 40px;
  transform: translateX(-50%);

  a {
    color: black;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 24px;
    border-radius: 30px;
    transition: 0.4;
    &:hover {
      background-color: #fff;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
}
